body {
    background-color: #FFF9F1;
    color: #2E2E2E;
    font-family: "Nunito", Helvetica, sans-serif;
}

/* Header */
nav {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    flex-wrap: wrap;

}

.logo {
    display: flex;
    align-items: center;
    max-width: 8rem;
}

.nav-links {
    display: flex;
    align-items: center;  
    margin: 0;  
    flex-wrap: wrap;
}

.nav-links a {
    display: block;
    padding: 1.4rem 2.5rem;
    font-size: 1.1em;
    transition: all ease-in-out 100ms;
    font-weight: 600;
    color: #6BCB77;
}

.nav-links a:hover {
    background-color: #FFA552;
    color: #FFF9F1;
}

.social-media-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #FFA552;
    border-radius: 4rem;
    width: 5rem;
    justify-content: center;
    padding: 0.5rem;
}

.social-media-buttons a{
    color: #FFF9F1;
    font-size: 1.2em;
}

.social-media-buttons a:hover {
    color: #6BCB77;
}

/*Footer*/


 footer {
    background-color: #F9E79F;
   
    

}

footer p {
    color: #7D7D7D;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 0;
}


/* Home */

.c-item {
    height: 90vh;

}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.35);

}

.c-button {
    background-color: #FFA552;
    border-radius: 3rem;
    transition: all 100ms ease-in;
    color: #FFF9F1;
    font-weight: 600;
    border: none;
}

.btn btn-primary {
    background-color: #FFA552;
    color:#FFF9F1;
}

.c-button:hover {
    background-color: #6BCB77;
    border: none;
}

#scroll-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    color: #FFF9F1;
    width: 4.8rem;
    height: 4.8rem;
    
    text-align: center;
    z-index: 99;
}

#scroll-top i {
    font-size: 3em;
    background-color: #FFA552;
    border-radius: 5rem;
    padding: 0.1rem 0.7rem;
    transition: all 100ms ease-in;
}

#scroll-top i:hover {
    background-color: #6BCB77;
    
}

#nosotros, #adoptar, #contacto, #galeria{
    margin: 0 3rem;
}

/* Adopta */


.titulo-principal {
    padding: 0.7rem;
    margin: 1.5rem auto;
    border-radius: 2rem;
    font-size: 1.6em;
    text-align: center;
    border: #479d5b solid 3px;
    font-weight: bold;
    color: #FFF9F1;
    background-color: #6BCB77;
    max-width: 54rem;

}

.card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    border-radius: 60px;
    border: #FFA552 solid 3px;
    box-sizing: content-box;
    width: 15rem;
}

.card-img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 55px 55px 0px 0px;
    max-width: 100%;
    
}

.card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
    
}

.card-title {
    font-weight: bold;
    color: #FFA552;
    margin: 0;
    font-size: 1.3em;
}

.card-content a {
    color: #FFA552;
    font-size: 1.4em;
}

.card-content a:hover {
    color: #6BCB77;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}

.page-button {
    color: #FFA552;
    border-radius: 100%;
    font-size: 1.5em;
}

.page-button:hover{
    color: #6BCB77;
}
details {
    margin: 1rem 0;
}
details summary{
    font-weight: bold;
    color: #FFA552;
    padding: 0.7rem 2rem;
    font-size: 1.2em;
    border-radius: 6rem;
    transition: all ease-in 200ms;
    border: solid 3px #FFA552;
}

details summary:hover, details summary:focus {
    background-color: #6BCB77;
    border: #6BCB77 solid 3px;
    color: #FFF9F1;
}

details p {
    margin: 0.5rem 
}

.check {
    color: #6BCB77;
    margin: 0.2rem;
}

.donate-info {
    display: flex;
    justify-content: center;

}

.donate-info p {
    background-color: #F9E79F;
    border-radius: 3rem;
    padding: 0.4rem 0.8rem;
}

/* Nosotros*/

.team-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.team {
    border-radius: 60px;
    border: #FFA552 solid 4px;
    box-sizing: content-box;
    width: 23rem;
}

.team-img {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    border-radius: 55px 55px 0px 0px;
    max-width: 100%;
    position: center;
    
}

.team-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.8rem;
    
}

.team-title {
    font-weight: 600;
    color: #FFA552;
    margin: 0;
    padding: 0.5rem;
    font-size: 1.6em;
}

.team-text {
    font-size: 0.9em;
}

h2 {
    padding: 0.7rem;
    font-size: 1.7em;
    color: #6BCB77;
    font-weight: bold;
    margin-bottom: 0;
}

p {
    padding: 0.7rem;
    margin-bottom: 0;
}

h3 {
    font-size: 1.3em;
    text-align: center;
    color: #FFA552;
    font-weight: 600;
    padding: 0.5rem;
}

.highlights {
    font-weight: bold;
    color: #FFA552;

}

.highlights-ph {
    font-weight: bold;
    color: #6BCB77;

}

/* Contacto*/

.social-media-buttons-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 10rem;
}

#instagram, #whatsapp {
    background-color: #F9E79F;
    padding: 0.8rem;
    border-radius: 3rem;
    margin: 0.5rem;

}

#instagram:hover, #whatsapp:hover {
    color: #6BCB77;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
.form-container form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    background-color: #F9E79F;
    padding: 2rem;
    border-radius: 3rem;
    align-items: center;
    margin: 1rem;

}

.form-group {
    display: grid;
    
}

input, textarea, select {
    border: solid 2px #F9E79F;
    border-radius: 2rem;
    padding: 0.5rem;
    width: 100%;
}

input:hover, input:focus-visible, textarea:hover, textarea:focus-visible,select:hover, select:focus-visible{
    border: solid #6BCB77 2px;
    outline: none;
}

textarea {
    resize: none; 
    color: #7D7D7D;
    outline: none;
}


#submit {
    background-color: #FFA552;
    color: #FFF9F1;
    font-weight: bold ;
    transition: all ease-in 200ms;
    border: solid 2px #F9E79F;
}

#reset {
    color: #7D7D7D;
    background-color: #D6D6D6;
    font-weight: 600;
    transition: all ease-in 200ms;
    
    
}

#submit:hover {
    background-color: #6BCB77;
    color: #FFF9F1;
    border: solid 2px #F9E79F;

}

#reset:hover {
    background-color: #7D7D7D;
    color: #D6D6D6;
    border: none;
}

/*Galeria*/

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
    width: 100%;
    margin: 1rem;
}

.gallery-container img {
    max-inline-size: 100%;
    display: block;
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 2rem;
    padding: 0.3rem;
}

.gallery-container img:hover {
    cursor: pointer;
    filter: brightness(0.5)
}